@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff3700;
}

body {
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

.jodit-react-container {
  font-size: 14px;
  font-family: "Inter";
}
@media screen and (min-width: 768px) {
  .jodit-react-container {
    font-size: 18px;
  }
}
.post-item-content-style {
  color: black !important;
}

.dark .post-item-content-style {
  color: white !important;
}
.post-item-content-style p {
  background-color: transparent !important;
  font-size: 16px !important;
  font-family: "Inter" !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}
@media screen and (min-width: 768px) {
  .post-item-content-style p {
    font-size: 20px !important;
  }
}
.post-item-content-style a:hover {
  text-decoration: underline !important;
}

.dark .post-item-content-style p {
  color: rgb(190, 189, 189) !important;
}

.dark .post-item-content-style span {
  font-family: "Inter" !important;
  color: white !important;
}

.post-item-content-style span {
  font-family: "Inter" !important;
  color: black !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Silde animation in Home page */
/* From Right - Left */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 30s linear infinite;
}

.main-slide-container {
  display: flex !important;
}

.main-slide-container:hover .animate-slide {
  animation-play-state: paused;
}
/* From Right - Left */

/* From Left - Right */
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideRight 30s linear infinite;
}

.main-slide-container-two {
  display: flex !important;
  align-items: center;
}

.main-slide-container-two:hover .animate-slide-right {
  animation-play-state: paused;
}
/* From Left - Right */

/* Silde animation in Home page */

/* Search Sidebar */
.search-side-bar::-webkit-scrollbar {
  display: none;
}
