@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #ff3700;
}

body {
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}

.jodit-react-container {
  font-size: 14px;
  font-family: "Inter";
}
@media screen and (min-width: 768px) {
  .jodit-react-container {
    font-size: 18px;
  }
}

.post-item-content-style p {
  background-color: transparent !important;
  font-size: 16px !important;
  font-family: "Inter" !important;
  font-weight: 500 !important;
  color: rgb(59, 59, 59) !important;
}
@media screen and (min-width: 768px) {
  .post-item-content-style p {
    font-size: 20px !important;
  }
}
.post-item-content-style a:hover {
  text-decoration: underline !important;
}

.dark .post-item-content-style p {
  color: rgb(190, 189, 189) !important;
}
